In [15]:
import pandas as pd
import numpy as np

In [16]:
file_path = "files_for_lab/films_2020.csv"
df = pd.read_csv(file_path)
df

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2020,1,NaN,NaN,NaN,86,NaN,PG
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2020,1,NaN,NaN,NaN,48,NaN,G
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2020,1,NaN,NaN,NaN,50,NaN,NC-17
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2020,1,NaN,NaN,NaN,117,NaN,G
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2020,1,NaN,NaN,NaN,130,NaN,G
...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2020,1,NaN,NaN,NaN,183,NaN,G
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2020,1,NaN,NaN,NaN,179,NaN,NC-17
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2020,1,NaN,NaN,NaN,105,NaN,NC-17
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2020,1,NaN,NaN,NaN,101,NaN,R
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2020,1,NaN,NaN,NaN,50,NaN,NC-17

In [17]:
df.info

<bound method DataFrame.info of      film_id              title  \
0          1   ACADEMY DINOSAUR
1          2     ACE GOLDFINGER
2          3   ADAPTATION HOLES
3          4   AFFAIR PREJUDICE
4          5        AFRICAN EGG
..       ...                ...
995      996     YOUNG LANGUAGE
996      997         YOUTH KICK
997      998       ZHIVAGO CORE
998      999  ZOOLANDER FICTION
999     1000          ZORRO ARK

                                           description  release_year  \
0    A Epic Drama of a Feminist And a Mad Scientist...          2020
1    A Astounding Epistle of a Database Administrat...          2020
2    A Astounding Reflection of a Lumberjack And a ...          2020
3    A Fanciful Documentary of a Frisbee And a Lumb...          2020
4    A Fast-Paced Documentary of a Pastry Chef And ...          2020
..                                                 ...           ...
995  A Unbelieveable Yarn of a Boat And a Database ...          2020
996  A Touching Drama of a Teacher And a Cat who mu...          2020
997  A Fateful Yarn of a Composer And a Man who mus...          2020
998  A Fateful Reflection of a Waitress And a Boat ...          2020
999  A Intrepid Panorama of a Mad Scientist And a B...          2020

     language_id  original_language_id  rental_duration  rental_rate  length  \
0              1                   NaN              NaN          NaN      86
1              1                   NaN              NaN          NaN      48
2              1                   NaN              NaN          NaN      50
3              1                   NaN              NaN          NaN     117
4              1                   NaN              NaN          NaN     130
..           ...                   ...              ...          ...     ...
995            1                   NaN              NaN          NaN     183
996            1                   NaN              NaN          NaN     179
997            1                   NaN              NaN          NaN     105
998            1                   NaN              NaN          NaN     101
999            1                   NaN              NaN          NaN      50

     replacement_cost rating
0                 NaN     PG
1                 NaN      G
2                 NaN  NC-17
3                 NaN      G
4                 NaN      G
..                ...    ...
995               NaN      G
996               NaN  NC-17
997               NaN  NC-17
998               NaN      R
999               NaN  NC-17

[1000 rows x 11 columns]>

In [20]:
df.drop_duplicates()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2020,1,NaN,NaN,NaN,86,NaN,PG
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2020,1,NaN,NaN,NaN,48,NaN,G
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2020,1,NaN,NaN,NaN,50,NaN,NC-17
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2020,1,NaN,NaN,NaN,117,NaN,G
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2020,1,NaN,NaN,NaN,130,NaN,G
...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2020,1,NaN,NaN,NaN,183,NaN,G
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2020,1,NaN,NaN,NaN,179,NaN,NC-17
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2020,1,NaN,NaN,NaN,105,NaN,NC-17
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2020,1,NaN,NaN,NaN,101,NaN,R
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2020,1,NaN,NaN,NaN,50,NaN,NC-17